///// BUTTONS STYLE //////

.section-btn-filter {
    display:flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 15px;

.dropbtn {
    background-color: #3282F7;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #3282F7;
  }
  

  #myInputIngredients {
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #3282F7;
    color: #fff;
    font-weight: bold;
    background-color: #3282F7;
  }
  #myInputIngredients::placeholder {
    color: #fff;
    }
  #myInputIngredients:focus {outline: 3px solid #3282F7;}
  
  .dropdown {
    position: relative;
    display: inline-block;
    transform:div;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3282F7;
    min-width: 230px;
    border: 1px solid #3282F7;
    border-radius:5px;
    z-index: 1;
  }
  .dropdown-content a {
    color: #fff;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #3282F7}
  .show {display:block;}

  /// btn appareil ///
  .dropbtn-appareil {
    background-color: #68D9A4;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn-appareil:hover, .dropbtn:focus {
    background-color: #68D9A4;
  }
  #myInputAppareil {
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #68D9A4;
    color: #fff;
    font-weight: bold;
    background-color: #68D9A4;
  }
  #myInputAppareil::placeholder {
    color: #fff;
    }
  #myInputAppareil:focus {
      outline: 3px solid #68D9A4;
    }
  .dropdown-content-appareil {
    display: none;
    position: absolute;
    background-color: #68D9A4;
    min-width: 230px;
    border: 1px solid #68D9A4;
    border-radius:5px;
    z-index: 1;
  }
  
  ////// btn ustensiles /////
  .dropbtn-ustensiles {
    background-color: #ED6454;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn-ustensiles:hover, .dropbtn:focus {
    background-color: #ED6454;
  }
  #myInputUstensiles {
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ED6454;
    color: #fff;
    font-weight: bold;
    background-color: #ED6454;
  }
  #myInputUstensiles::placeholder {
    color: #fff;
    }
  #myInputUstensiles:focus {outline: 3px solid #ED6454;}
  
  .dropdown-content-ustensiles {
    display: none;
    position: absolute;
    background-color: #ED6454;
    min-width: 230px;
    border: 1px solid #ED6454;
    border-radius:5px;
    z-index: 1;
  }
}

///// Responsive part //////
@media screen and (max-width: 375px) {
    .section-btn-filter {
        max-width: 360px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}